#nav-footer {
    display: flex;
}

#copy-ryght {
    color: white;
}


.footer__layout {

    justify-content: space-between;
    background-color: #1D4A79;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
}